.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #f0efef;
  padding: 20px;
}

.title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 0;
}
